/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li,fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td,article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

img,fieldset, a img
    border: none;
div, input, textarea, select,button,

h1,h2,h3,h4,h5,h6,a,span,a:focus {
    outline: none;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
}

/* Mixins */
.image {
    border: none;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-small {
    font-size: 14px;
    line-height: 1.2;
}

.text-normal {
    font-size: 16px;
    line-height: 1.2;
}

.text-large {
    font-size: 21px;
    line-height: 1.4;
}

/* Body border */
.body {
    width: 100%;
    height: 100%;
}

.body-wrap {
    margin: 0;
    padding: 15px;

    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;

    height: 100%;
    max-width: 960px;

    border: 5px solid #FE6E03;
    border-image: -webkit-gradient(linear, 0 0, 100% 100%, from(#FE6E03), to(#E90545));
    border-image: -webkit-linear-gradient(#FE6E03, #E90545);
    border-image: -moz-linear-gradient(#FE6E03, #E90545);
    border-image: -o-linear-gradient(#FE6E03, #E90545);
    border-image: linear-gradient(to bottom left, #FE6E03, #E90545) 1 100%;
    border-image-slice: 1;
    border-top: 5px solid #FE6E03;
    border-bottom: 5px solid #E90545;
}

/* Header */
.header__table {
    margin: 0;
    width: 100%;
    table-layout: fixed;
    border: none;
}

.header__cell-left {
    width: 33%;
    padding: 43px 20px 0 20px;
    vertical-align: top;
}

.header__cell-middle {
    width: 33%;
    padding: 0;
    text-align: center;
    vertical-align: top;
}

.header__cell-right {
    width: 33%;
    padding: 43px 20px 0 20px;
    text-align: right;
    vertical-align: top;
}

.header__logo {
    width: 111px;
    height: 134px;
}

/* Content */
.content {
    padding: 20px;
}

.content__delimiter {
    border: 1px solid #eee;
}

.content__text {
    padding: 20px 0px;
}

/* Footer */
.footer__table {
    table-layout: fixed;
    width: 100%;
    margin: 0;
}

.footer__cell-left {
    width: 100%;
    padding: 0 40px 0 20px;
}

.footer__cell-right {
    padding: 0 20px 0 40px;
    width: 200px;
    vertical-align: top;
}

.social__link-facebook {
    color: #6d83bc;
    font-weight: bold;
    text-decoration: none;
}

.social__logo {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    padding-bottom: 4px;
}

.footer__block {
    margin: 10px 0;
}

.footer__link {
    color: #03C0E9;
    text-decoration: none;
}








.report {
    border-collapse: collapse;
    border-spacing: 0;
    font-size: 1rem;
    table-layout: fixed;
    width: 100%;
    padding: 0 50px 0;
}

.report__value {
    font-size: 2.5rem;
}
